.image-one {
 width: 300px;
 opacity: 1;
 


}

.image-two {
width: 300px;
opacity: 0;
}


.first-element {
	background-color: coral;
	color: green;
	width: 300px;
	height: 200px;
	transition: 2s ease-in 0.5s;
	transition: 2s ease-out;

}