.animated {
    height:150px;
    width: 150px;
    background-color: coral;
}


.animated:hover{
    height:150px;
    width: 150px;
  -ms-transform: skewX(20deg);
  -webkit-transform: skewX(20deg);
    transform: skewX(20deg);
}



.hello {
  transition: all 0.5s ease;
  background-color: aqua;
  padding: 10px;
  width: 150px;
  height: 150px;
}
.hello:hover{
  background: salmon;
  padding: 20px;
}

.fade {
  opacity: 0.5;
  width: 150px;
  height: 100px;
  background-color: black;
}
.fade:hover{
  opacity: 1;
}

.circle {
    width: 150px;
    height: 150px;
    background-color: red;

}

.circle:hover
{
        border-radius:50%;
}


.swing{
    width: 150px;
    height: 150px;
    background-color: green;
}
@-webkit-keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
       transform: translateX(-5px);
    } 
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

.swing:hover
{
        -webkit-animation: swing 1s ease;
        animation: swing 1s ease;
        -webkit-animation-iteration-count: 1;
        animation-iteration-count: 1;
}